<!-- <div class="user-header-dialog"> -->
    <div class="bg-accent p-3">
        <div class="flex justify-between items-center">
            <span class="text-xl font-semibold text-white">Update User Password</span>
            <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <mat-dialog-content class="flex flex-col space-y-6">
        <form [formGroup]="userForm" class="space-y-6">
            <mat-form-field class="w-full">
                <mat-label>Password</mat-label>
                <input id="password" matInput type="password" [formControlName]="'password'" #passwordField>
                <button mat-icon-button type="button"
                    (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                    matSuffix>
                    <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                        [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                    <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                        [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                </button>
                <mat-error *ngIf="userForm.get('password').hasError('required')">
                    Password is required
                </mat-error>
                <mat-error *ngIf="userForm.get('password').hasError('pattern')">
                    Password must be 1 uppercase, 1 lowercase, 1 special character, 1 digit, and minimum 6 characters.
                </mat-error>
            </mat-form-field>

            <!-- Password confirm field -->
            <mat-form-field class="w-full">
                <mat-label>Password (Confirm)</mat-label>
                <input id="password-confirm" matInput type="password" [formControlName]="'passwordConfirm'"
                    #passwordConfirmField>
                <button mat-icon-button type="button"
                    (click)="passwordConfirmField.type === 'password' ? passwordConfirmField.type = 'text' : passwordConfirmField.type = 'password'"
                    matSuffix>
                    <mat-icon class="icon-size-5" *ngIf="passwordConfirmField.type === 'password'"
                        [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                    <mat-icon class="icon-size-5" *ngIf="passwordConfirmField.type === 'text'"
                        [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                </button>
                <mat-error *ngIf="userForm.get('passwordConfirm').hasError('required')">
                    Confirm Password is required
                </mat-error>
                <mat-error *ngIf="userForm.get('passwordConfirm').hasError('mustMatch')">
                    Passwords must match
                </mat-error>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-divider></mat-divider>
    <mat-dialog-actions class="flex justify-center space-x-2 m-3">
        <button mat-button (click)="dialogRef.close()" class="px-4 py-2 bg-gray-300 rounded-lg hover:bg-gray-400">Cancel</button>
        <button mat-button (click)="onSave()" [disabled]="userForm.invalid" [ngClass]="{'bg-gray-200': userForm.invalid}"
            class="bg-accent text-white hover:bg-accent-dark px-4 py-2 rounded-lg">Save</button>
    </mat-dialog-actions>
