.content-center {
    text-align: center;
}

.mat-table {
    width: 50%;
    border-collapse: collapse;

}


.attr-row {
    display: flex;
    flex-direction: row;
}


.account-row {
    /* border: 2px solid hotpink; */
    min-width: 250px;
}



.theme-amber.light .mdc-data-table__row:hover {
    background-color: var(--dynamicColor) !important;
}