<!-- <mat-icon style="font-size: 3.5rem; " class="ml-2 text-stone-200">
                arrow_drop_up
            </mat-icon> -->
            <div class="border-2 relative">
                <div class="absolute custom-top custom-right">
                    <button
                        mat-icon-button
                        class="icon-time-save"
                        matTooltip="Close"
                        matTooltipPosition="below"
                        (click)="closeSubRow()"
                    >
                        <mat-icon class="bg-slate-300 rounded-full text-lg">close</mat-icon>
                    </button>
                </div>
                <div class="grid grid-cols-2 gap-2 text-center m-3">
                    <div class="col-span-1">
                        <mat-label>Hours</mat-label>
                        <div>
                            <mat-icon
                                style="font-size: 3.5rem"
                                (click)="hoursTimeArrow(row.id, 'increment')"
                                class="mt-2 cursor-pointer"
                            >
                                arrow_drop_up
                            </mat-icon>
                        </div>
                        <mat-form-field class="w-2/4" style="margin-bottom: -12px">
                            <div class="flex items-center">
                                <input
                                    matInput
                                    placeholder=""
                                    [value]="checkValue(row.value, 'hours')"
                                    (input)="hoursTimeArrow(row.id, 'setHours', $event)"
                                    class="flex-grow no-spinner p-0"
                                />
                            </div>
                        </mat-form-field>
                        <div>
                            <mat-icon
                                style="font-size: 3.5rem"
                                class="cursor-pointer mb-2"
                                (click)="hoursTimeArrow(row.id, 'decrement')"
                            >
                                arrow_drop_down
                            </mat-icon>
                        </div>
                    </div>
                    <div class="col-span-1">
                        <mat-label>Minutes</mat-label>
                        <div>
                            <mat-icon
                                style="font-size: 3.5rem"
                                class="mt-2 cursor-pointer"
                                (click)="hoursTimeArrow(row.id, 'increment', '', 'minutes')"
                            >
                                arrow_drop_up
                            </mat-icon>
                        </div>
                        <mat-form-field class="w-2/4" style="margin-bottom: -12px">
                            <div class="flex items-center">
                                <input
                                    matInput
                                    placeholder=""
                                    value="00"
                                    [value]="checkValue(row.value, 'minutes')"
                                    (input)="
                                        hoursTimeArrow(
                                            row.id,
                                            'setMinutes',
                                            $event,
                                            'minutes'
                                        )
                                    "
                                    class="flex-grow no-spinner"
                                />
                            </div>
                        </mat-form-field>
                        <div>
                            <mat-icon
                                style="font-size: 3.5rem"
                                class="mb-2 cursor-pointer"
                                (click)="hoursTimeArrow(row.id, 'decrement', '', 'minutes')"
                            >
                                arrow_drop_down
                            </mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <hr
                *ngIf="
                    dailyTimeRows &&
                    dailyTimeRows.length > 1 &&
                    dailyTimeRows.length !== rowNo + 1
                "
            />

