<div #releasenote>
    <div class="bg-accent p-3">
        <div class="flex justify-between items-center">
            <span class="text-xl font-semibold text-white">Release Notes</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <mat-dialog-content>
        <div *ngFor="let note of releaseNotes" class="p-8 m-0">
            <div class="release-notes">
                <!-- <h2>Release Notes</h2> -->
                <ul class="notes-list">
                    <li class="note">
                        <div class="note-header">
                            <h3>{{ note.version }}</h3>
                            <p>{{ note.date}}</p>
                        </div>
                        <ul class="feature-list">
                            <li *ngFor="let feature of note.features" class="feature">{{ feature }}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </mat-dialog-content>
</div>