<div class="grid">
    <div class="flex justify-end mb-4 mr-4">
        <button class="bg-orange-500" mat-raised-button (click)="createFTP()" matTooltip="Create FTP">Create FTP
        </button>
    </div>
    <fieldset>
        <legend>
            <h3 style="font-weight: 600; padding:0px 4px">FTP List</h3>
        </legend>
        <div class="m-2">
            <table mat-table [dataSource]="dataSource" class="table" matSort style="width: 500px">

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="ftpUser">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> FTP User </th>
                    <td mat-cell *matCellDef="let element"> {{element.ftpUser}} </td>
                </ng-container>

                <ng-container matColumnDef="ftpHost">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Host </th>
                    <td mat-cell *matCellDef="let element"> {{element.ftpHost}} </td>
                </ng-container>

                <ng-container matColumnDef="ftpPassword">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Password </th>
                    <td mat-cell *matCellDef="let element; let i = index;">
                        <div class="flex flex-row">
                            <div class="mt-2">
                                <span> {{ hidePassword[i] ? element?.ftpPassword?.length > 8 ? star.repeat(8) :
                                    star.repeat(element?.ftpPassword?.length) :
                                    (element?.ftpPassword ||
                                    '') }}</span>
                            </div>
                            <div>
                                <button mat-icon-button *ngIf="element?.ftpPassword" style="cursor: pointer;"
                                    (click)="passwordShow(i)">
                                    <mat-icon *ngIf="hidePassword[i]">visibility_off</mat-icon>
                                    <mat-icon *ngIf="!hidePassword[i]">visibility</mat-icon>
                                </button>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="ftpPort">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Port </th>
                    <td mat-cell *matCellDef="let element"> {{element.ftpPort}}</td>
                </ng-container>

                <ng-container matColumnDef="isActive">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon class="mt-2"
                            [ngStyle]="{'color':element.isActive ? '#4caf51' : 'red'}">{{element.isActive
                            ?
                            'check_circle':'highlight_off'}}</mat-icon>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th class="min-w-28" mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
                            <mat-icon>more_vert</mat-icon>
                        </button>

                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="editFTP(element)">
                                <mat-icon>edit</mat-icon> Edit
                            </button>

                            <button mat-menu-item (click)="activeInactiveFTP(element)">
                                <mat-icon>{{element.isActive ? 'highlight_off': 'check_circle'}}</mat-icon>
                                {{element.isActive ? 'Deactive' :
                                'Active'}}
                            </button>

                            <button mat-menu-item (click)="deleteFTP(element)">
                                <mat-icon>delete</mat-icon> Delete
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="dataSource.data.length == 0" class="mt-4 flex justify-center">
                <span>No data to display</span>
            </div>
        </div>
    </fieldset>
</div>
<!-- <div class="fixed bottom-0 right-0 m-4">
    <div (click)="createFTP()" matTooltip="Create FTP"
        class="flex items-center justify-center w-12 h-12 bg-orange-500 rounded-full cursor-pointer">
        <mat-icon class="text-white text-3xl">add</mat-icon>
    </div>
</div> -->