.add-row {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.theme-amber.light .mdc-data-table__header-cell {
    justify-content: center !important;
}

.theme-amber.light .mdc-data-table__cell {
    justify-content: center !important;
}