<div id="file-logs-component" class="flex flex-col flex-auto min-w-0">
    <div>
        <div id="file-logs-component" class="flex flex-col flex-auto min-w-0">
            <div class="flex-auto mb-4 ml-6 mr-6 mt-4">
                <div>
                    <app-file-log-filter (filtersApplied)="applyFileLogFilters($event)"></app-file-log-filter>
                </div>
                <!-- <div class="flex justify-start space-x-2 mr-6 mt-4">
                    <button mat-raised-button color="primary" (click)="getFileLogList()">Refresh</button>
                </div> -->
                <div class="mat-elevation-z8 mt-4">
                    <div class="overflow-x-auto">
                        <table mat-table [dataSource]="dataSource" class="table" style="width: 800px;">

                            <ng-container matColumnDef="customerName">
                                <th mat-header-cell *matHeaderCellDef> Account Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.AccountName}}</td>
                            </ng-container>

                            <ng-container matColumnDef="fileName">
                                <th mat-header-cell *matHeaderCellDef> File Name </th>
                                <td mat-cell *matCellDef="let element"> <a (click)="downloadFile(element)"
                                        matTooltip="Download File" class="file-download">{{element.file_name}}</a> </td>
                            </ng-container>

                            <ng-container matColumnDef="fileType">
                                <th mat-header-cell *matHeaderCellDef> File Type </th>
                                <td mat-cell *matCellDef="let element">{{element.file_type || '-'}}</td>
                            </ng-container>

                            <ng-container matColumnDef="uploadDate">
                                <th mat-header-cell *matHeaderCellDef> Upload Date </th>
                                <td mat-cell *matCellDef="let element"> {{ element.imported_date | date: 'dd-MM-yyyy HH:mm:ss' }}</td>
                            </ng-container>

                            <ng-container matColumnDef="inProgress">
                                <th mat-header-cell *matHeaderCellDef> Status </th>
                                <td mat-cell *matCellDef="let element">
                                    <!-- <div>
                                    <mat-icon [matTooltip]="element.status == 'success' ? 'Success' : 'Error'"
                                        [ngStyle]="{'color':element.status == 'success' ? '#4caf51' : '#f44336'}">
                                        {{element.status == 'success' ? 'check_circle' : 'block'}}</mat-icon>
                                    </div> -->
                                         <div>
                                            <div *ngIf="!checkIsProgress(element)">
                                                <mat-icon [matTooltip]="element.status"
                                                [ngStyle]="{'color':element.status ==  'success' ? '#4caf51' : element.status == 'warning' ? '#f9a826' : '#f44336'}">
                                                {{element.status == 'warning' ?
                                                'error_outline' : element.status == 'success' ? 'check_circle' : 'block'}}</mat-icon>
                                            </div>
                                            <div *ngIf="checkIsProgress(element)">
                                                <div class="account-filelog-loader mt-2" matTooltip="In Progress">
                                                    <div>
                                                      <ul>
                                                        <li>
                                                          <svg fill="currentColor" viewBox="0 0 90 120">
                                                            <path d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z"></path>
                                                          </svg>
                                                        </li>
                                                        <li>
                                                          <svg fill="currentColor" viewBox="0 0 90 120">
                                                            <path d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z"></path>
                                                          </svg>
                                                        </li>
                                                        <li>
                                                          <svg fill="currentColor" viewBox="0 0 90 120">
                                                            <path d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z"></path>
                                                          </svg>
                                                        </li>
                                                        <li>
                                                          <svg fill="currentColor" viewBox="0 0 90 120">
                                                            <path d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z"></path>
                                                          </svg>
                                                        </li>
                                                        <li>
                                                          <svg fill="currentColor" viewBox="0 0 90 120">
                                                            <path d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z"></path>
                                                          </svg>
                                                        </li>
                                                        <li>
                                                          <svg fill="currentColor" viewBox="0 0 90 120">
                                                            <path d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z"></path>
                                                          </svg>
                                                        </li>
                                                      </ul>
                                                    </div>
                                                    <!-- <span>Loading</span> -->
                                                </div>
                                            </div>
                                        </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="total_orders">
                                <th mat-header-cell *matHeaderCellDef> Total Import </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.total_orders}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="total_lines">
                                <th mat-header-cell *matHeaderCellDef> Total Lines </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.total_lines}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="success">
                                <th mat-header-cell *matHeaderCellDef> Success </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.success}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="isError">
                                <th mat-header-cell *matHeaderCellDef> Error </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.error}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef class="min-w-28"> Action </th>
                                <td mat-cell *matCellDef="let element">
                                    <button matTooltip="View log" (click)="viewLog(element)" mat-icon-button>
                                        <mat-icon>visibility</mat-icon>
                                    </button>
                                    <button *ngIf="!checkIsProgress(element) && element.status == 'error'" matTooltip="Reupload file"
                                        (click)="reUploadFile(element)" mat-icon-button>
                                        <mat-icon>cloud_upload</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                [ngStyle]="{
                             'background-color': getRowBackgroundColor(row),'--dynamicColor':getRowBackgroundColor(row)}">
                            </tr>
                        </table>
                        <div *ngIf="filelogList.length == 0" class="m-2 flex justify-center">
                            <span>No data to display</span>
                        </div>
                    </div>
                    <mat-paginator class="flex justify-end" [pageSizeOptions]="[10, 20,30,50,100,500]"
                        showFirstLastButtons aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>

            </div>

        </div>
    </div>
</div>
