#signin-com {
    .signin-btn {
        background-color: #fb8c00 !important;
        border-radius: 4px !important;
    }

    .signup-link {
        color: #fb8c00 !important;

    }

    .forget-password-link {
        color: #fb8c00 !important;
    }

    .next3pl {
        color: #fb8c00 !important;
    }
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    padding: 0px !important;
}

.gen8-css{
        color: #fb8c00 !important;
}