<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Account Filter
        </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="filterForm" class="filter-form">

        <div class="grid lg:grid-cols-6 md:grid-cols-8 gap-4">
            <div class="lg:col-span-2 md:col-span-4 xl:col-span-2 sm:col-span-4 col-span-8">
                <mat-form-field class="w-full">
                    <mat-label>Account Name</mat-label>
                    <input matInput formControlName="name" placeholder="Account Name">
                </mat-form-field>
            </div>
            <div class="lg:col-span-2 md:col-span-4 xl:col-span-2 sm:col-span-4 col-span-8">
                <mat-form-field class="w-full">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status" placeholder="Status">
                        <mat-option *ngFor="let status of statusList" [value]="status.value">
                            {{status.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="lg:col-span-2 xl:col-span-2 col-span-8 flex justify-end lg:mt-4">
                <button mat-raised-button color="primary" class="sm:w-28 w-full"
                    (click)="applyFilters()">Search</button>
            </div>
        </div>
        <!-- <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4">
                <mat-form-field class="w-full xl:w-6/12">
                    <input matInput formControlName="name" placeholder="Name">
                </mat-form-field>
                <mat-form-field class="w-full xl:w-6/12">
                    <input matInput formControlName="email" placeholder="Email">
                </mat-form-field>
                <mat-form-field class="w-full xl:w-6/12">
                    <mat-select formControlName="role" placeholder="Select Role" multiple>
                        <mat-option *ngFor="let role of roleList" [value]="role.roleId">
                            {{role.roleName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="w-full hidden lg:block"></div>
                <button mat-raised-button color="primary" class="sm:w-80 w-full"
                    (click)="applyFilters()">Search</button>
            </div> -->
    </form>
</mat-expansion-panel>