::ng-deep .theme-amber.light .mdc-data-table__header-cell {
    justify-content: center !important;
}

::ng-deep .theme-amber.light .mdc-data-table__cell {
    justify-content: center !important;
}

.csv-text-wrap {
    overflow-wrap: anywhere !important;
    text-align: center !important;
}